body{
    background-color: grey
  }
 
  .my-lime{
    background-color: lime;
  }
  .my-red{
    background-color: red;
  }
  .my-blue{
    background-color: blue;
  }
  .my-lightblue{
    background-color: lightblue
  }
  .my-green{
    background-color: green;
  }
 
 
 
  .h25{
    height: 25px;
  }
 
 
  .h100{
    height: 100px;
  }
 
  .h300{
    height: 300px;
  }
 
  .h400{
    height: 400px;
  }
 
  .h200{
    height: 500px
  }